 <footer class="blog-footer">

        <div class="footer-social">
            <a href="#" target="_blank" class="fa fa-facebook"></a>
            <a href="#" target="_blank" class="fa fa-behance"></a>
            <a href="#" target="_blank" class="fa fa-twitter"></a>
            <a href="#" target="_blank" class="fa fa-linkedin"></a>
            <a href="#" target="_blank" class="fa fa-google-plus"></a>
            <a href="#" target="_blank" class="fa fa-youtube"></a>
        </div>
        <p>神圣的爱的精英，一个永恒的生命。</p>
        <p>2019.版权归娟娟所有。</p>
        <p>
            <a href="#">回到顶部</a>
        </p>
    </footer>