{% load static %}
<header class="blog-header">
    <!--     Main Menu  -->
    <nav class="navbar navbar-expand-lg  center-navigation shadow-lg " id="center-navigation">
        <div class="container">
            <a class="navbar-brand" href="#"><img class="logo-dark d-sm-block d-lg-none "
                                                  src="{% static 'assets/images/logos.png' %}" alt="Logo-side"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="icofont icofont-navigation-menu"></i> </span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll " href="{% url 'article:home' %}?tagname=0">python</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll " href="{% url 'article:home' %}?tagname=1">前端</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll " href="{% url 'article:home' %}?tagname=2">java</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll header-logo d-none d-lg-block" href="{% url 'article:home' %}">
                            <img src="{% static 'assets/images/logos.png' %}" alt="Logo" class="img-fluid">
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown4" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            其他
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <a class="dropdown-item" href="{% url 'article:home' %}?tagname=3">php</a>
                            <a class="dropdown-item" href="{% url 'article:home' %}?tagname=4">.net</a>
                            <a class="dropdown-item" href="{% url 'article:home' %}?tagname=5">数据库</a>
                            <a class="dropdown-item" href="{% url 'article:home' %}?tagname=6">测试</a>
                            <a class="dropdown-item" href="{% url 'article:home' %}?tagname=7">C++</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll " href="{% url 'article:publish' %}">发帖</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll " href="#">留言</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>