{% load static %}
<header class="blog-header">
    <!--     Main Menu  -->
    <nav class="navbar navbar-expand-lg  center-navigation shadow-lg " id="center-navigation">
        <div class="container">
            <a class="navbar-brand" href="#"><img class="logo-dark d-sm-block d-lg-none "
                                                  src="{% static 'assets/images/logo.png' %}" alt="Logo-side"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="icofont icofont-navigation-menu"></i> </span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="index-main.html">Home Main</a>
                            <a class="dropdown-item" href="index-header2.html">Home Header2 </a>
                            <a class="dropdown-item" href="index-header3.html">Home Header3 </a>
                            <a class="dropdown-item" href="index-classic.html">Home Classic</a>
                            <a class="dropdown-item" href="index-list.html">Home List</a>
                            <a class="dropdown-item" href="index-grid.html">Home Grid</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Features
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="sidebar.html">Sidebar Left</a>
                            <a class="dropdown-item" href="video.html">Video post</a>
                            <a class="dropdown-item" href="single-blog.html">Single post</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="about.html">About Me</a>
                            <a class="dropdown-item" href="contact.html">Contact</a>
                            <a class="dropdown-item" href="404.html">404</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll header-logo d-none d-lg-block" href="#"><img
                                src="{% static 'assets/images/logo.png' %}" alt="Logo" class="img-fluid"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <a class="dropdown-item" href="lifestyle.html">Lifestyle</a>
                            <a class="dropdown-item" href="hairstyle.html">hairstyle</a>
                            <a class="dropdown-item" href="fashion.html">Fashion</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll " href="video.html">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll " href="#">Buy Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>