{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="blog,resposive,sailor,bootstrap4,modern,html,html5,personal blog,agency blog,video,grid,Clean">
    <meta name="author" content="juanjuan">
    <title>
        {% block title %}
            博客首页
        {% endblock %}
    </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--  Icon Font stylesheet  -->
    <link href="{% static 'assets/css/icofont.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
    <!--   Common stylesheet  -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <!--   Custom stylesheet  -->
    <link href="{% static 'assets/css/blog.css' %}" rel="stylesheet">
    <!--   Responsive stylesheet  -->
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
    {% block headlink %}

    {% endblock %}
</head>

<body>

{% block nav %}

{% endblock %}


{% block content %}

{% endblock %}


{% block footer %}

{% endblock %}


{% block footerjs %}
<script src="{% static 'assets/js/jquery-3.3.1.slim.min.js' %}"></script>
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!--  Custom js  -->
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>
