{% extends 'commen/parent.html' %}
{% load static %}


{% block title %}
    博客首页
{% endblock %}


{% block nav %}
    {% include 'commen/header.html' %}
{% endblock %}


{% block content %}
    <div class="banner-bg jumbotron p-3 p-md-5 text-white">
        <div class="dark-overlay"></div>
        <div class="container">
            <div class="col-md-8 px-0 mx-auto ">
                <div class="text-center main-banner-coontent">
                    <h1 class="display-4 text-white">欢迎来到娟娟的个人博客</h1>
                    <p class="my-3">学习总是在一点一滴中积累而成的，就像砌砖一样。让我们一起在娟娟博客一起成长吧！加油！成功是属于努力的人！</p>
                    <a href="{% url 'user:register' %}" class="btn btn-danger mt-3 btn-rounded">加入这个大家庭</a>
                </div>
            </div>
        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-md-8 blog-main col-sm-7">

                <div class="blog-post">
                    <a href="#">
                        <h2 class="blog-post-title">不忘初心！</h2>
                    </a>


                    <p class="blog-post-meta"><img src="{% static 'assets/images/blog/la.jpg' %}" alt=""
                                                   class="img-fluid small">2019-02-09</p>
                    <p> 为他人，也为自己，为了技术点做点贡献。
                        如果，大家以为这只是一个技术论坛，那你就错了。站长本人觉得除了技术以外，我们更多的是用技术去改变我们的生活。要说我们技术为啥，我想说，那肯定是为了更好的生活。所以，本论坛除技术交流外，专门开了一个热爱分享的版块。我希望能和大家一起来分享我们技术人的生活，及他们的世界。欢迎，大家的加入
                        ^_^ ^_^ 人生的意义：活出自己的本色。 让我们一起来让自己的人生更加精彩。程序员，写文章，大家见笑了，欢迎吐槽 ^_^ ^_^ ^_^ ，本人微信及电话：15002855529</p>

                </div>
                <!-- /.blog-post -->
                {% for foo in article %}
                    <div class="blog-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog-post-thumbnail-zone">
                                    <img src="{{ MEDIA_URL }}{{ foo.author.head }}" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class=" col-lg-6">
                                <div class="blog-post-content ">
                                    <p class="blog-post-cat mt0">标签----{{ foo.tagid.tagname }}</p>
                                    <a href="#">
                                        <h3>标题:{{ foo.articletitle }}</h3>
                                    </a>
                                    <p class="blog-post-meta">发布时间：{{ foo.add_time }}</p>
                                    <div style="height: 155px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                                        <p style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{{ foo.articlecontent|safe }}</p>
                                    </div>

                                    <a href="{% url 'article:details' foo.pk %}" class="read-more">详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <nav aria-label="navigation ">
                    <ul class="pagination blog-pagination justify-content-end">
                        {% if article.has_previous %}
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="{% url 'article:home' %}?page={{ article.previous_page_number }}&tagname={{ tagindex }}"
                                   tabindex="-1">Older</a>
                            </li>
                        {% endif %}
                        {% for p in article.paginator.page_range %}
                            <li class="page-item"><a class="page-link"
                                                     href="{% url 'article:home' %}?page={{ p }}&tagname={{ tagindex }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                        {% if article.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% url 'article:home' %}?page={{ article.next_page_number }}&tagname={{ tagindex }}">Newer</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- /.blog-main -->


            <!-- blog-main SIDEBAR RIGHT -->
            <aside class="col-md-4 blog-sidebar col-sm-5">

                <div class="p-3 mb-3 bg-light rounded text-center">
                    <div class="top-header ">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                   placeholder="请输入文章关键字">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-3 mb-3 bg-light rounded text-center">
                    <div class="sidebar-about">
                        <div class="about-img">
                            <img src="{% static 'assets/images/blog/la.jpg' %}" alt=""
                                 class="img-fluid rounded-circle">
                        </div>
                        <h4 class="py-2">Hi! -这是我！</h4>
                        <p class="mb-3">欲善其事，必先利其器。始终坚持天道酬勤的原则，一日三省，自信品格的日趋完善，勇于行事，务实求新。三更灯火，寒窗苦读，相信会学有所成。</p>

                        <ul class="list-inline social-link">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="py-3">
                    <div class="sidebar-block latest-post">
                        <h4 class="sidebar-title">最新帖子</h4>
                        <ol class="list-unstyled">
                            <li>
                                <a href="#">
                                    <div class="rpost-img">
                                        <img src="{% static 'assets/images/blog/widget-4.jpg' %}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <h5>High Fashion Black and White Photoshoot Art</h5>
                                    <p class="text-muted">20 June 2018 </p>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="rpost-img">
                                        <img src="{% static 'assets/images/blog/widget-2.jpg' %}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <h5>Spanish Women are the Epitome of Beautiful</h5>
                                    <p class="text-muted">20 June 2018 </p>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="rpost-img">
                                        <img src="{% static 'assets/images/blog/widget-3.jpg' %}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <h5>Beauty you lIfe with natural</h5>
                                    <p class="text-muted">20 June 2018</p>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="rpost-img">
                                        <img src="{% static 'assets/images/blog/widget-1.jpg' %}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <h5>Spanish Women are the Epitome of Beautiful</h5>
                                    <p class="text-muted">20 June 2018</p>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>


                <div class="py-3">
                    <div class="sidebar-block instagram">
                        <h4 class="sidebar-title">Top 博主</h4>

                        <div class="instgram-posts">
                            <a href="#"><img src="{% static 'assets/images/blog/widget-1.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-2.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-3.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-4.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-1.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-2.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-3.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-4.jpg' %}" alt=""
                                             class="img-fluid"></a>
                            <a href="#"><img src="{% static 'assets/images/blog/widget-1.jpg' %}" alt=""
                                             class="img-fluid"></a>
                        </div>
                    </div>
                </div>

                <div class="py-3">
                    <div class="">
                        <h4 class="sidebar-title">标签</h4>
                        <div class="list-unstyled mb-0 tags-cloud">
                            {% for foo in tag %}
                                <a href="#">{{ foo.tagname }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </aside>
            <!-- /.blog-sidebar -->
        </div>
        <!-- /.row -->

    </main>
    <!-- /.container -->
{% endblock %}



{% block footer %}
    {% include 'commen/footer.html' %}
{% endblock %}





